{% load static %}
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="keywords" content="RocketPSA MSP Software"/>
        <meta name="description" content="Flexible PSA software to keep MSPs ticketing on track. RocketPSA flexible offering includes robust features on a transparent contract. "/>
        <meta name="author" content="RocketPSA"/>
        <!-- Title  -->
        <title>RocketPSA</title>
        <!-- Logo -->
        <link rel="shortcut icon" type="image/png" href="{% static 'img/Purple Rocket Logo 2.png'%}"/>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        {% block css %}
        {% block extra_css %}
        {% endblock extra_css %}
        <!-- Plugins -->
        <link rel="stylesheet" href="{% static 'css/plugin.css' %}"/>
        <!-- Core Style Css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        {% endblock css %}
    </head>
<body>

</body>
</html>